@charset "utf-8";
@font-face {
    font-weight: normal;
    font-style: normal;
}
* {font-family: 'NanumSquare', sans-serif !important;}


@media all and (max-width: 500px){ /*모바일*/
    .info {font-size: 12px;}
    .info a {padding-left:0; padding-right: 10px;}     
    #menu {display: none;}
    .slide2 {display: block;}
    #m_menu {display: block;}
    #m_slide {display: block;}
    #main4 {display: none;}
    #m_wrap {display: block!important;}
    #m_main4 {display: block!important;}
    #footer {display: none;}
    #m_footer {display: block!important;}
    #m_hamberger_menu {display: block!important;}
    
    
    #logo {position: relative;}
    #logo img{
            position: absolute;
            display: block;
            width: 80px; height: 47px;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
           }
    #logo h1{display:none;}
    .slide1 {float: none; width: 100%;}
    .slide1 p:nth-child(1) {font-size: 30px;}
    .slide1 p:nth-child(2) {
        font-size: 30px; width: 250px; left: 0; padding-left:50px;}
    .slide1 p:nth-child(3) {display: none;}
    .slide1 p:nth-child(4) {display: none;}
    .slide1 p:nth-child(5) {display: none;}
    
    #m_hamberger_menu {
        width: 35px;
        position: absolute; left: 15px; top: 60px;
        cursor: pointer;
    }
    .m_close {
        width: 35px;
        font-size: 35px; color: #fff; font-weight: bold;
        position: absolute; left: 15px; top: 60px;
        cursor: pointer;
        background-color: #fec034;
    }
    #m_hamberger_menu img {width: 35px;;}
    #m_menu {
        width: 55%; height: 500px; 
        background: white; position: absolute; top:120px;
        line-height: 25px; z-index: 500; _display: none;
    }
    #m_menu .m_sub {overflow: hidden; padding-left: 20px;}
    #m_menu .m_sub>li {width: 50%;}
    #m_menu .m_sub>li>ul {padding-left:20px;}
    #m_menu .m_sub>li>ul>li {width: 100%;}
    
    
    .m_slide1-1 {
               display: block;
               font-size: 25px; display:none;}
    .slide2 {display: none;}
    #m_slide {width: 100%;  position: absolute;  padding-bottom: 200px; top: 290px;}
    .m_slide2 {
                width: 100%; float: none; _right:-300px; display: block;
                }
    .m_slide2 img {width: 100%; position: absolute; left: 0; top: 0px;}
    .m_slide2 img:nth-child(1){z-index:99;}
       
    .m_slide2 img {position: absolute;}
    /*메인*/
    #main1 {position: relative; top: 20px;}
    #main1 .p1 {font-size: 22px;}
    .main1-1 {
        position: relative;
        left: -25px;
        width:200px;
        padding-top: 50px;
    }
    .main1-1 p:nth-child(1) {font-size: 30px; font-weight: bold; padding-bottom: 20px;}
    .main1-1 p:nth-child(2) {font-size: 15px;}
    .main1-1 p:nth-child(3) {font-size: 15px;}
    .main1-1 p:nth-child(4) {font-size: 15px;}
    #main1 .plus {
        position: relative; left: -40px;
        padding-top: 40px;
        width: 50px;
    }
    .main1-2 {
        position: relative;
        left: 200px; top: -218px;
        width: 200px;
        padding-top: 20px;
    }
    .main1-2 p:nth-child(1) {font-size: 30px; font-weight: bold; padding-bottom: 20px;}
    .main1-2 p:nth-child(2) {font-size: 15px;}
    .main1-2 p:nth-child(3) {font-size: 15px;}
    .main1-2 p:nth-child(4) {font-size: 15px;}
    
    #main1 .arrow {
        position: relative;
        left: 207px; 
        top: -200px;
        width: 50px;
    }
    .main1-3 {position: relative; top: -170px;}
    .main1-3 p:nth-child(1){
        position: relative; _top: -310px;
        padding-bottom: 20px;
        font-size: 30px; 
        font-weight: bold;}
    .main1-3 p:nth-child(2) {font-size: 15px;}
    .main1-3 p:nth-child(3) {font-size: 15px;}
    .main1-3 p:nth-child(4) {font-size: 15px;}
    .main1-3 p:nth-child(5) {font-size: 15px;}
    .main1-3 p:nth-child(6) {font-size: 15px;}
    
    #main2 {position: relative; top: -200px;}
    .main2-1 p:nth-child(2) {font-size: 30px; text-align: center; color: #646464; font-weight: bold; padding-bottom: 20px}
    .main2-1 p:nth-child(3) {font-size: 15px; color: #b9b9b9; text-align: center;}
    .main2-1 p:nth-child(4) {font-size: 15px; color: #b9b9b9; text-align: center;}
    .main2-2 {position: relative; top: -100px;}
    
    #main3 {
        position: relative; top: -100px; 
        padding-bottom: 0;}
    .main3-1 p:nth-child(1) {font-size: 30px; font-weight: bold: padding-bottom: 20px;}
    .main3-1 p:nth-child(2) {font-size: 15px;}
    .main3-1 p:nth-child(3) {font-size: 15px;}
    
    .main3-2 a span {
        font-size: 15px; 
        color: black; 
        font-weight: bold;
    }
    .main3-2 a img {width: 164px; height: 164px; }
    .main3-2 a .place_1{position: absolute; top: 70px; left:20px; display: none;}
    .main3-2 a .place_2{position: absolute; top: 70px; left:27px; display: none;}
    .main3-2 a .place_3{position: absolute; top: 70px; left:50px; display: none;}
    .main3-2 a .place_4{position: absolute; top: 70px; left:50px; display: none;}
    .main3-2 a .place_5{position: absolute; top: 70px; left:20px; display: none;}
    .main3-2 a .place_6{width: 55px; position: absolute; top: 70px; left:53px; display: none;}
    .main3-2 a .place_7{position: absolute; top: 70px; left:25px; display: none;}
    .main3-2 a .place_8{position: absolute; top: 70px; left:37px; display: none;}
    
    #m_main4 {
        position: relative; top: 0px;
        margin: auto; overflow: hidden;
    }
    #m_main4>p:nth-child(1) {font-size: 30px; font-weight: bold; color: #646464; text-align: center; padding-bottom: 10px;}
    #m_main4>p:nth-child(2) {font-size: 30px; font-weight: bold; color: #646464; text-align: center;
    padding-bottom: 50px;}
    

    .m_main4-1 {float: left; width: 200px; padding-left: 20px;}
    .m_main4-1 img {width: 95%;}
    .m_main4-2 {float: right; width: 260px; _padding-right: 20px;}
    .m_main4-2 img {width: 25px; }
    .m_main4-2 p {
        width: 180px; 
        position: relative; 
        left: 30px; top: -25px;
        font-size: 15px; color: #b9b9b9; padding:3px;
    }

    
    
    #m_footer {
    width: 100%; background: #333333;
    position: relative; top: 100px;
    }

    .m_footer0 {width:200px; float: left; overflow: hidden;}
    .m_footer0 img {
        width: 100%; 
        padding-left: 20px; padding-top: 30px;
    }
    .m_footer1 {
        width: 200px; 
        position: relative; left: 210px; top: -100px;
    }
    .m_footer1 p{width: 100%; font-size: 15px; color: white; padding: 10px;}
    .m_footer1 p:nth-child(1) {color:#fec034; padding-bottom: 25px;}
    .m_footer1 p:nth-child(6) {color:#fec034; padding-bottom: 25px;}
    
    address{top: 1343px;}
    }


       @media all and (min-width: 451px) and (max-width: 1024px) { /*태블릿*/
    
}
