@charset "utf-8";
@font-face {
    font-weight: normal;
    font-style: normal;
}
* {font-family: 'NanumSquare', sans-serif !important;}
@media all and (max-width: 500px){
    .info {font-size: 12px;}
    .info a {padding-left:0; padding-right: 10px;}     #menu {display: none;}
    #m_menu {display: block;}
    #logo {position: relative;}
    #logo img{
            position: absolute;
            display: block;
            width: 80px; height: 47px;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
           }
    #logo h1{display:none;}
    #m_wrap {display: block!important;}
    #m_hamberger_menu {display: block!important;}
    
    #m_hamberger_menu {
        width: 35px;
        position: absolute; left: 15px; top: 60px;
        cursor: pointer;
    }
    .m_close {
        width: 35px;
        font-size: 35px; color: #fff; font-weight: bold;
        position: absolute; left: 15px; top: 60px;
        cursor: pointer;
        background-color: #fec034;
    }
    #m_hamberger_menu img {width: 35px;;}
    #m_menu {
        width: 55%; height: 500px; 
        background: white; position: absolute; top:120px;
        line-height: 25px; z-index: 500; _display: none;
    }
    #m_menu .m_sub {overflow: hidden; padding-left: 20px;}
    #m_menu .m_sub>li {width: 50%;}
    #m_menu .m_sub>li>ul {padding-left:20px;}
    #m_menu .m_sub>li>ul>li {width: 100%;}
}

@media all and (max-width: 500px){
    #sign_up {width: 100%; padding-top: 30px;}

    .sign_up_title h1 {text-align: center; font-size: 30px; padding-bottom: 20px;}

    #join_box {width: 90%; padding-left: 20px;}
    .sign_up2 {width: 100%;}

    form {
        max-width: 540px;
        position: relative;
        margin: 0 auto;
        padding: 50px  0;
    }
    form > p > span {
        width: 15%;
        display: inline-block;
        line-height: 50px;
    }
    form > p > input[type="text"] {
        height: 35px;
    }
    form > p > input[type="password"] {
        height: 35px;
    }
    form > p > select {
        height: 35px;
    }
    form > p > input[type="button"] {
        font-family: "NanumSquare";
        height: 35px;
        line-height: 34px;
        padding: 0 10px;
        background: #efeeee;
        border: 1px solid #bbbbbb;
    }

    .condition {
        width: auto;
        font-size: 14px;
    }
    .choice {
        width: auto;
        height: 20px;
        font-size: 13px;
        padding-left: 20%;
        line-height: 0px;
    }


    form > .join_terms {
        margin: 50px auto 0 auto;
        border: 1px solid #bbbbbb;
    }
    form > .join_terms > li {
        position: relative;
        line-height: 80px;
        padding-left: 30px;
        font-weight: bold;
        font-size: 17px;
        border-bottom: 1px solid #bbbbbb;
    }
    form > .join_terms > li:nth-child(4) {
        border: 0;
    }
    form > .join_terms > li > input[type="checkbox"] {
        width: 17px;
        height: 17px;
    }
    form > .join_terms > li > span {
        padding-left: 20px;
    }
    form > .join_terms > li > .join_down {
        position: absolute;
        top: 25px;
        right: 50px;
        cursor: pointer;
        transition: all 0.5s;
    }
    .on {
        transform: rotate(180deg);
        transition: all 0.5s;
    }

    form > .join_terms > li > textarea {
        font-size: 12px;
        position: relative;
        z-index: 10;
        width: 93%;
    }

    .join_btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 150px;
        height: 50px;
        line-height: 50px;
        background: #fec034;
        color: #f9f9f9;}
}